.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #9d9da3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(86, 44, 204);
}

table td {
  border: 1px solid rgb(240, 234, 234);
  border-radius: 7px;
  width: 100px;
  height: 100px;
  background-color: rgb(214, 73, 160);
  padding: 5px;

}

table td:hover {
  border: 1px solid rgb(240, 234, 234);
  border-radius: 7px;
  width: 100px;
  height: 100px;
  padding: 5px;
 background-color: rgb(241, 197, 228);
 
}

.btn {
  background-color: rgb(32, 141, 184);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  
}
.btn:hover {
  background-color: rgb(41, 174, 226);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;}

p{
 font-size: 20px;
 color: rgb(31, 31, 133);
}

#colorchange{
  color:blue;
}